html {
    font-size: 20px;
    background: url('images/farm.jpg') bottom center;
    background-size: cover;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: .5rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 7rem;
    height: 12rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 .5rem black;
}

.sheep {
    background: url('images/sheep.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.sheep:hover {
    font-size: 46px;
}

.dog {
    background: url('images/dog.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.dog:hover {
    font-size: 46px;
}

.horse {
    background: url('images/horse.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.horse:hover {
    font-size: 46px;
}

.owl {
    background: url('images/owl.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.owl:hover {
    font-size: 46px;
}

.chicken {
    background: url('images/chicken.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.chicken:hover {
    font-size: 46px;
}

.cat {
    background: url('images/cat.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.cat:hover {
    font-size: 46px;
}

.pig {
    background: url('images/pig.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.pig:hover {
    font-size: 46px;
}

.cow {
    background: url('images/cow.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.cow:hover {
    font-size: 46px;
}

.pigeon {
    background: url('images/pigeon.jpg') bottom center;
    background-size: cover;
    transition-property: font-size;
    transition-duration: .3s;
}

.pigeon:hover {
    font-size: 46px;
}


.playing {
    transform: scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}


kbd {
    display: block;
    font-size: 4rem;
}